<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trinhtien2212.findhomerental">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FindHomeRental">
        <activity
            android:name=".ui.home.RoomDetail"
            android:label="@string/title_activity_room_detail"
            android:theme="@style/Theme.FindHomeRental.NoActionBar"></activity>
        <activity android:name=".ui.home.GoogleSignIn" />
        <activity android:name=".ui.home.SearchActivity" />
        <activity android:name=".MainAdminActivity" />
        <activity android:name=".RoomListActivity" />
        <activity android:name=".UserListActivity" />
        <activity android:name=".ui.add_room.AddRoomActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.FindHomeRental.NoActionBar"
            android:usesCleartextTraffic="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>